<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JWD_L_A101</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  
  <servlet>
    <servlet-name>loginviewservlet</servlet-name>
    <servlet-class>controller.LoginViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginviewservlet</servlet-name>
    <url-pattern>/login_view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkloginservlet</servlet-name>
    <servlet-class>controller.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkloginservlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showlistEmpoyee</servlet-name>
    <servlet-class>controller.ListEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showlistEmpoyee</servlet-name>
    <url-pattern>/list_employee</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>addEmp</servlet-name>
    <servlet-class>controller.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEmp</servlet-name>
    <url-pattern>/add_employee</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>deleteEmp</servlet-name>
    <servlet-class>controller.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteEmp</servlet-name>
    <url-pattern>/delete_employee</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>udpateEmp</servlet-name>
    <servlet-class>controller.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>udpateEmp</servlet-name>
    <url-pattern>/update_employee</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>udpateDeleteView</servlet-name>
    <servlet-class>controller.UpdateDeleteViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>udpateDeleteView</servlet-name>
    <url-pattern>/update_delete_view</url-pattern>
  </servlet-mapping>
    
  
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>controller.SearchEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search_infor</url-pattern>
  </servlet-mapping>
</web-app>